openapi: 3.0.1
info:
  title: Infocenter-TEST
  description: Infocenter-TEST
  version: '1.0'
servers:
  - url: https://api.discover.swiss/test/info
paths:
  /areas:
    get:
      summary: List AdministrativeArea (Region)
      description: Get the list of the Regions with full detailed information.
      operationId: List-AdministrativeArea-Region
      parameters:
        - name: category
          in: query
          description: Use property identifier of category to filter.
          schema:
            type: string
        - name: containedInPlace
          in: query
          description: Use property identifier of place to filter.
          schema:
            type: string
        - name: updatedSince
          in: query
          description: Format - date-time (as date-time in RFC3339). Return only changed data since specific date.
          schema:
            type: string
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of administrative areas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministrativeAreasResponse'
  '/categories/{id}':
    get:
      summary: Category
      description: Get the full detailed information of a Category object.
      operationId: Category
      parameters:
        - name: id
          in: path
          description: Use property identifier of Category to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
  /categories:
    get:
      summary: List Category
      description: Get the list of the Categories with full detailed information.
      operationId: List-Category
      parameters:
        - name: parentCategory
          in: query
          description: Use property identifier of category to filter.
          schema:
            type: string
        - name: updatedSince
          in: query
          description: Format - date-time (as date-time in RFC3339). Return only changed data since specific date.
          schema:
            type: string
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
  '/civicStructures/{id}':
    get:
      summary: CivicStructure
      description: Get the full detailed information of a CivicStructure object.
      operationId: CivicStructure
      parameters:
        - name: id
          in: path
          description: Use property identifier of CivicStructure to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a civic structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CivicStructure'
  /civicStructures:
    get:
      summary: List CivicStructure
      description: Get the list of the CivicStructures with full detailed information.
      operationId: List-CivicStructure
      parameters:
        - name: category
          in: query
          description: Use property identifier of category to filter.
          schema:
            type: string
        - name: containedInPlace
          in: query
          description: Use property identifier of place to filter.
          schema:
            type: string
        - name: updatedSince
          in: query
          description: Format - date-time (as date-time in RFC3339). Return only changed data since specific date.
          schema:
            type: string
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of civic structures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CivicStructuresResponse'
  '/creativeWorks/{id}':
    get:
      summary: CreativeWork
      description: Get the full detailed information of a CreativeWork object.
      operationId: CreativeWork
      parameters:
        - name: id
          in: path
          description: Use property identifier of CreativeWork to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a creative work
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeWork'
  /creativeWorks:
    get:
      summary: List CreativeWork
      description: Get the list of the CreativeWorks with full detailed information.
      operationId: List-CreativeWork
      parameters:
        - name: updatedSince
          in: query
          description: Format - date-time (as date-time in RFC3339). Return only changed data since specific date.
          schema:
            type: string
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of creative works
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeWorksResponse'
  '/foodEstablishments/{id}':
    get:
      summary: FoodEstablishment
      description: Get the full detailed information of a FoodEstablishment object.
      operationId: FoodEstablishment
      parameters:
        - name: id
          in: path
          description: Use property identifier of FoodEstablishment to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a food establishment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoodEstablishment'
  /foodEstablishments:
    get:
      summary: List FoodEstablishment
      description: Get the list of the FoodEstablishments with full detailed information.
      operationId: List-FoodEstablishment
      parameters:
        - name: category
          in: query
          description: Use property identifier of category to filter.
          schema:
            type: string
        - name: containedInPlace
          in: query
          description: Use property identifier of place to filter.
          schema:
            type: string
        - name: updatedSince
          in: query
          description: Format - date-time (as date-time in RFC3339). Return only changed data since specific date.
          schema:
            type: string
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of food establishments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoodEstablishmentsResponse'
  '/imageObjects/{id}':
    get:
      summary: ImageObject
      description: Get the full detailed information of a ImageObject object.
      operationId: ImageObject
      parameters:
        - name: id
          in: path
          description: Use property identifier of ImageObject to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a image object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageObject'
  /imageObjects:
    get:
      summary: List ImageObject
      description: Get the list of the ImageObjects with full detailed information.
      operationId: List-ImageObject
      parameters:
        - name: updatedSince
          in: query
          description: Format - date-time (as date-time in RFC3339). Return only changed data since specific date.
          schema:
            type: string
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of image objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageObjectsResponse'
  '/localbusinesses/{id}':
    get:
      summary: LocalBusiness
      description: Get the full detailed information of a LocalBusiness object.
      operationId: LocalBusiness
      parameters:
        - name: id
          in: path
          description: Use property identifier of LocalBusiness to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a local business
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalBusiness'
  /localbusinesses:
    get:
      summary: List LocalBusiness
      description: Get the list of the LocalBusinesses with full detailed information.
      operationId: List-LocalBusiness
      parameters:
        - name: category
          in: query
          description: Use property identifier of category to filter.
          schema:
            type: string
        - name: containedInPlace
          in: query
          description: Use property identifier of place to filter.
          schema:
            type: string
        - name: updatedSince
          in: query
          description: Format - date-time (as date-time in RFC3339). Return only changed data since specific date.
          schema:
            type: string
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of local businesses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalBusinessesResponse'
  '/lodgingbusinesses/{id}':
    get:
      summary: LodgingBusiness
      description: Get the full detailed information of a LodgingBusiness object.
      operationId: LodgingBusiness
      parameters:
        - name: id
          in: path
          description: Use property identifier of LodgingBusiness to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a lodging business
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LodgingBusiness'
  /lodgingbusinesses:
    get:
      summary: List LodgingBusiness
      description: Get the list of the LodgingBusinesses with full detailed information.
      operationId: List-LodgingBusiness
      parameters:
        - name: category
          in: query
          description: Use property identifier of category to filter.
          schema:
            type: string
        - name: containedInPlace
          in: query
          description: Use property identifier of place to filter.
          schema:
            type: string
        - name: updatedSince
          in: query
          description: Format - date-time (as date-time in RFC3339). Return only changed data since specific date.
          schema:
            type: string
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of lodging businesses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LodgingBusinessesResponse'
  '/mediaObjects/{id}':
    get:
      summary: MediaObject
      description: Get the full detailed information of a MediaObject object.
      operationId: MediaObject
      parameters:
        - name: id
          in: path
          description: Use property identifier of MediaObject to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a media object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaObject'
  /mediaObjects:
    get:
      summary: List MediaObject
      description: Get the list of the MediaObjects with full detailed information.
      operationId: List-MediaObject
      parameters:
        - name: updatedSince
          in: query
          description: Format - date-time (as date-time in RFC3339). Return only changed data since specific date.
          schema:
            type: string
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of media objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaObjectsResponse'
  '/places/{id}':
    get:
      summary: Place
      description: Get the full detailed information of a Place object.
      operationId: Place
      parameters:
        - name: id
          in: path
          description: Use property identifier of Place to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a place
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Place'
  /places:
    get:
      summary: List Place
      description: Get the list of the Places with full detailed information.
      operationId: List-Place
      parameters:
        - name: category
          in: query
          description: Use property identifier of category to filter.
          schema:
            type: string
        - name: containedInPlace
          in: query
          description: Use property identifier of place to filter.
          schema:
            type: string
        - name: updatedSince
          in: query
          description: Format - date-time (as date-time in RFC3339). Return only changed data since specific date.
          schema:
            type: string
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
  '/tours/{id}':
    get:
      summary: Tour
      description: Get the full detailed information of a Tour object.
      operationId: Tour
      parameters:
        - name: id
          in: path
          description: Use property identifier of Tour to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a tour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tour'
  /tours:
    get:
      summary: List Tour
      description: Get the list of the Tours with full detailed information.
      operationId: List-Tour
      parameters:
        - name: category
          in: query
          description: Use property identifier of category to filter.
          schema:
            type: string
        - name: containedInPlace
          in: query
          description: Use property identifier of place to filter.
          schema:
            type: string
        - name: updatedSince
          in: query
          description: Format - date-time (as date-time in RFC3339). Return only changed data since specific date.
          schema:
            type: string
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of tours
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToursResponse'
  '/areas/{id}':
    get:
      summary: AdministrativeArea (Region)
      description: Get the full detailed information of a Region object.
      operationId: AdministrativeArea-Region
      parameters:
        - name: id
          in: path
          description: Use property identifier of Region to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns an administrative area
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministrativeArea'
  '/events/{id}':
    get:
      summary: Event
      description: Get the full detailed information of a Event object.
      operationId: Event
      parameters:
        - name: id
          in: path
          description: Use property identifier of Event to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a creative work
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
  /events:
    get:
      summary: List Events
      description: Get the list of the Events with full detailed information.
      operationId: List-Events
      parameters:
        - name: updatedSince
          in: query
          description: Format - date-time (as date-time in RFC3339). Return only changed data since specific date.
          schema:
            type: string
        - name: category
          in: query
          description: Use property identifier of category to filter.
          schema:
            type: string
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: containedInPlace
          in: query
          description: Use property identifier of place to filter by the region (administrative area).
          schema:
            type: string
        - name: location
          in: query
          description: Use property identifier of place to filter by the location (business).
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
  '/termversions/{termCode}/currentVersion':
    get:
      summary: Current TermVersion
      description: Get the full detailed information of a current TermVersion object queried by the term-code and the language (Accept-Language header)
      operationId: Current-TermVersion
      parameters:
        - name: termCode
          in: path
          description: Use property code of a term to get the current term version.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Supply this header to select the term version in the correct language and deliver localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a TermVersion object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermVersion'
  '/termversions/{code}':
    get:
      summary: TermVersion
      description: Get the full detailed information of a TermVersion object.
      operationId: TermVersion
      parameters:
        - name: code
          in: path
          description: Use property code of TermVersion to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a TermVersion object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermVersion'
  '/products/{id}':
    get:
      summary: Product
      description: Get the full detailed information of a Product object.
      operationId: Product
      parameters:
        - name: id
          in: path
          description: Use property identifier of Product to get single object.
          required: true
          schema:
            type: string
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Returns a product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
  /products:
    get:
      summary: List Products
      description: Get the list of the Products with full detailed information.
      operationId: List-Products
      parameters:
        - name: datasource
          in: query
          description: Use datasource to filter.
          schema:
            type: string
        - name: continuationToken
          in: query
          description: Use it for get next set of Data.
          schema:
            type: string
        - name: top
          in: query
          description: Format - int32. Number of next set of entities.
          schema:
            type: integer
        - name: Accept-Language
          in: header
          description: Localized properties.
          schema:
            type: string
      responses:
        '200':
          description: Return array of products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsResponse'
  /status:
    get:
      summary: GetStatus
      description: Get API Status
      operationId: GetStatus
      responses:
        '200':
          description: 
components:
  schemas:
    AdministrativeArea:
      type: object
      properties:
        availableLanguage:
          type: array
          items:
            type: string
        address:
          type: object
          properties:
            addressCountry:
              type: string
            addressLocality:
              type: string
            addressRegion:
              type: string
            postalCode:
              type: string
            postOfficeBoxNumber:
              type: string
            streetAddress:
              type: string
            addressLine:
              type: string
            availableLanguage:
              type: array
              items:
                type: string
            contactType:
              type: string
            email:
              type: string
            faxNumber:
              type: string
            telephone:
              type: string
            source:
              type: object
              properties:
                acronym:
                  type: string
                identifier:
                  type: string
            hoursAvailable:
              type: array
              items:
                type: object
                properties:
                  opens:
                    type: string
                    format: date-time
                  validFrom:
                    type: string
                    format: date-time
                  dayOfWeek:
                    type: string
                  validThrough:
                    type: string
                    format: date-time
                  closes:
                    type: string
                    format: date-time
                  alternateName:
                    type: string
                  description:
                    type: string
                  disambiguatingDescription:
                    type: string
                  image:
                    type: object
                    properties:
                      caption:
                        type: string
                      dataGovernance:
                        type: object
                        properties:
                          supplier:
                            type: object
                            properties:
                              acronym:
                                type: string
                              identifier:
                                type: string
                          term:
                            type: object
                            properties:
                              code:
                                type: string
                              name:
                                type: string
                          source:
                            type: object
                            properties:
                              partner:
                                type: object
                                properties:
                                  acronym:
                                    type: string
                                  identifier:
                                    type: string
                              name:
                                type: string
                              logo:
                                type: object
                                properties:
                                  caption:
                                    type: string
                                  contentUrl:
                                    type: string
                                  thumbnailUrl:
                                    type: string
                                  id:
                                    type: string
                                  identifier:
                                    type: string
                              link:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    url:
                                      type: string
                                    isRecommendation:
                                      type: boolean
                                    type:
                                      type: string
                                    title:
                                      type: string
                                    name:
                                      type: string
                          author:
                            type: string
                      contentUrl:
                        type: string
                      thumbnailUrl:
                        type: string
                      id:
                        type: string
                      identifier:
                        type: string
                  sameAs:
                    type: string
                  url:
                    type: string
                  additionalType:
                    type: string
                  links:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                        isRecommendation:
                          type: boolean
                        type:
                          type: string
                        title:
                          type: string
                        name:
                          type: string
                  labels:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        identifier:
                          type: string
                  name:
                    type: string
            alternateName:
              type: string
            description:
              type: string
            disambiguatingDescription:
              type: string
            image:
              type: object
              properties:
                caption:
                  type: string
                dataGovernance:
                  type: object
                  properties:
                    supplier:
                      type: object
                      properties:
                        acronym:
                          type: string
                        identifier:
                          type: string
                    term:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                    source:
                      type: object
                      properties:
                        partner:
                          type: object
                          properties:
                            acronym:
                              type: string
                            identifier:
                              type: string
                        name:
                          type: string
                        logo:
                          type: object
                          properties:
                            caption:
                              type: string
                            contentUrl:
                              type: string
                            thumbnailUrl:
                              type: string
                            id:
                              type: string
                            identifier:
                              type: string
                        link:
                          type: array
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                              isRecommendation:
                                type: boolean
                              type:
                                type: string
                              title:
                                type: string
                              name:
                                type: string
                    author:
                      type: string
                contentUrl:
                  type: string
                thumbnailUrl:
                  type: string
                id:
                  type: string
                identifier:
                  type: string
            sameAs:
              type: string
            url:
              type: string
            additionalType:
              type: string
            links:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                  isRecommendation:
                    type: boolean
                  type:
                    type: string
                  title:
                    type: string
                  name:
                    type: string
            labels:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  identifier:
                    type: string
            name:
              type: string
        faxNumber:
          type: string
        geo:
          type: object
          properties:
            address:
              type: object
              properties:
                addressCountry:
                  type: string
                addressLocality:
                  type: string
                addressRegion:
                  type: string
                postalCode:
                  type: string
                postOfficeBoxNumber:
                  type: string
                streetAddress:
                  type: string
                addressLine:
                  type: string
                availableLanguage:
                  type: array
                  items:
                    type: string
                contactType:
                  type: string
                email:
                  type: string
                faxNumber:
                  type: string
                telephone:
                  type: string
                source:
                  type: object
                  properties:
                    acronym:
                      type: string
                    identifier:
                      type: string
                hoursAvailable:
                  type: array
                  items:
                    type: object
                    properties:
                      opens:
                        type: string
                        format: date-time
                      validFrom:
                        type: string
                        format: date-time
                      dayOfWeek:
                        type: string
                      validThrough:
                        type: string
                        format: date-time
                      closes:
                        type: string
                        format: date-time
                      alternateName:
                        type: string
                      description:
                        type: string
                      disambiguatingDescription:
                        type: string
                      image:
                        type: object
                        properties:
                          caption:
                            type: string
                          dataGovernance:
                            type: object
                            properties:
                              supplier:
                                type: object
                                properties:
                                  acronym:
                                    type: string
                                  identifier:
                                    type: string
                              term:
                                type: object
                                properties:
                                  code:
                                    type: string
                                  name:
                                    type: string
                              source:
                                type: object
                                properties:
                                  partner:
                                    type: object
                                    properties:
                                      acronym:
                                        type: string
                                      identifier:
                                        type: string
                                  name:
                                    type: string
                                  logo:
                                    type: object
                                    properties:
                                      caption:
                                        type: string
                                      contentUrl:
                                        type: string
                                      thumbnailUrl:
                                        type: string
                                      id:
                                        type: string
                                      identifier:
                                        type: string
                                  link:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        url:
                                          type: string
                                        isRecommendation:
                                          type: boolean
                                        type:
                                          type: string
                                        title:
                                          type: string
                                        name:
                                          type: string
                              author:
                                type: string
                          contentUrl:
                            type: string
                          thumbnailUrl:
                            type: string
                          id:
                            type: string
                          identifier:
                            type: string
                      sameAs:
                        type: string
                      url:
                        type: string
                      additionalType:
                        type: string
                      links:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                            isRecommendation:
                              type: boolean
                            type:
                              type: string
                            title:
                              type: string
                            name:
                              type: string
                      labels:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            identifier:
                              type: string
                      name:
                        type: string
                alternateName:
                  type: string
                description:
                  type: string
                disambiguatingDescription:
                  type: string
                image:
                  type: object
                  properties:
                    caption:
                      type: string
                    dataGovernance:
                      type: object
                      properties:
                        supplier:
                          type: object
                          properties:
                            acronym:
                              type: string
                            identifier:
                              type: string
                        term:
                          type: object
                          properties:
                            code:
                              type: string
                            name:
                              type: string
                        source:
                          type: object
                          properties:
                            partner:
                              type: object
                              properties:
                                acronym:
                                  type: string
                                identifier:
                                  type: string
                            name:
                              type: string
                            logo:
                              type: object
                              properties:
                                caption:
                                  type: string
                                contentUrl:
                                  type: string
                                thumbnailUrl:
                                  type: string
                                id:
                                  type: string
                                identifier:
                                  type: string
                            link:
                              type: array
                              items:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  isRecommendation:
                                    type: boolean
                                  type:
                                    type: string
                                  title:
                                    type: string
                                  name:
                                    type: string
                        author:
                          type: string
                    contentUrl:
                      type: string
                    thumbnailUrl:
                      type: string
                    id:
                      type: string
                    identifier:
                      type: string
                sameAs:
                  type: string
                url:
                  type: string
                additionalType:
                  type: string
                links:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                      isRecommendation:
                        type: boolean
                      type:
                        type: string
                      title:
                        type: string
                      name:
                        type: string
                labels:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      identifier:
                        type: string
                name:
                  type: string
            addressCountry:
              type: string
            elevation:
              type: number
              format: double
            latitude:
              type: number
              format: double
            longitude:
              type: number
              format: double
            postalCode:
              type: string
            alternateName:
              type: string
            description:
              type: string
            disambiguatingDescription:
              type: string
            image:
              type: object
              properties:
                caption:
                  type: string
                dataGovernance:
                  type: object
                  properties:
                    supplier:
                      type: object
                      properties:
                        acronym:
                          type: string
                        identifier:
                          type: string
                    term:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                    source:
                      type: object
                      properties:
                        partner:
                          type: object
                          properties:
                            acronym:
                              type: string
                            identifier:
                              type: string
                        name:
                          type: string
                        logo:
                          type: object
                          properties:
                            caption:
                              type: string
                            contentUrl:
                              type: string
                            thumbnailUrl:
                              type: string
                            id:
                              type: string
                            identifier:
                              type: string
                        link:
                          type: array
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                              isRecommendation:
                                type: boolean
                              type:
                                type: string
                              title:
                                type: string
                              name:
                                type: string
                    author:
                      type: string
                contentUrl:
                  type: string
                thumbnailUrl:
                  type: string
                id:
                  type: string
                identifier:
                  type: string
            sameAs:
              type: string
            url:
              type: string
            additionalType:
              type: string
            links:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                  isRecommendation:
                    type: boolean
                  type:
                    type: string
                  title:
                    type: string
                  name:
                    type: string
            labels:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  identifier:
                    type: string
            name:
              type: string
        hasMap:
          type: string
        isAccessibleForFree:
          type: boolean
        maximumAttendeeCapacity:
          type: integer
          format: int32
        openingHoursSpecification:
          type: array
          items:
            type: object
            properties:
              opens:
                type: string
                format: date-time
              validFrom:
                type: string
                format: date-time
              dayOfWeek:
                type: string
              validThrough:
                type: string
                format: date-time
              closes:
                type: string
                format: date-time
              alternateName:
                type: string
              description:
                type: string
              disambiguatingDescription:
                type: string
              image:
                type: object
                properties:
                  caption:
                    type: string
                  dataGovernance:
                    type: object
                    properties:
                      supplier:
                        type: object
                        properties:
                          acronym:
                            type: string
                          identifier:
                            type: string
                      term:
                        type: object
                        properties:
                          code:
                            type: string
                          name:
                            type: string
                      source:
                        type: object
                        properties:
                          partner:
                            type: object
                            properties:
                              acronym:
                                type: string
                              identifier:
                                type: string
                          name:
                            type: string
                          logo:
                            type: object
                            properties:
                              caption:
                                type: string
                              contentUrl:
                                type: string
                              thumbnailUrl:
                                type: string
                              id:
                                type: string
                              identifier:
                                type: string
                          link:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                isRecommendation:
                                  type: boolean
                                type:
                                  type: string
                                title:
                                  type: string
                                name:
                                  type: string
                      author:
                        type: string
                  contentUrl:
                    type: string
                  thumbnailUrl:
                    type: string
                  id:
                    type: string
                  identifier:
                    type: string
              sameAs:
                type: string
              url:
                type: string
              additionalType:
                type: string
              links:
                type: array
                items:
                  type: object
                  properties:
                    url:
                      type: string
                    isRecommendation:
                      type: boolean
                    type:
                      type: string
                    title:
                      type: string
                    name:
                      type: string
              labels:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    identifier:
                      type: string
              name:
                type: string
        photo:
          type: array
          items:
            type: object
            properties:
              caption:
                type: string
              dataGovernance:
                type: object
                properties:
                  supplier:
                    type: object
                    properties:
                      acronym:
                        type: string
                      identifier:
                        type: string
                  term:
                    type: object
                    properties:
                      code:
                        type: string
                      name:
                        type: string
                  source:
                    type: object
                    properties:
                      partner:
                        type: object
                        properties:
                          acronym:
                            type: string
                          identifier:
                            type: string
                      name:
                        type: string
                      logo:
                        type: object
                        properties:
                          caption:
                            type: string
                          contentUrl:
                            type: string
                          thumbnailUrl:
                            type: string
                          id:
                            type: string
                          identifier:
                            type: string
                      link:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                            isRecommendation:
                              type: boolean
                            type:
                              type: string
                            title:
                              type: string
                            name:
                              type: string
                  author:
                    type: string
              contentUrl:
                type: string
              thumbnailUrl:
                type: string
              id:
                type: string
              identifier:
                type: string
        publicAccess:
          type: boolean
        smokingAllowed:
          type: boolean
        source:
          type: object
          properties:
            acronym:
              type: string
            identifier:
              type: string
        specialOpeningHoursSpecification:
          type: array
          items:
            type: object
            properties:
              opens:
                type: string
                format: date-time
              validFrom:
                type: string
                format: date-time
              dayOfWeek:
                type: string
              validThrough:
                type: string
                format: date-time
              closes:
                type: string
                format: date-time
              alternateName:
                type: string
              description:
                type: string
              disambiguatingDescription:
                type: string
              image:
                type: object
                properties:
                  caption:
                    type: string
                  dataGovernance:
                    type: object
                    properties:
                      supplier:
                        type: object
                        properties:
                          acronym:
                            type: string
                          identifier:
                            type: string
                      term:
                        type: object
                        properties:
                          code:
                            type: string
                          name:
                            type: string
                      source:
                        type: object
                        properties:
                          partner:
                            type: object
                            properties:
                              acronym:
                                type: string
                              identifier:
                                type: string
                          name:
                            type: string
                          logo:
                            type: object
                            properties:
                              caption:
                                type: string
                              contentUrl:
                                type: string
                              thumbnailUrl:
                                type: string
                              id:
                                type: string
                              identifier:
                                type: string
                          link:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                isRecommendation:
                                  type: boolean
                                type:
                                  type: string
                                title:
                                  type: string
                                name:
                                  type: string
                      author:
                        type: string
                  contentUrl:
                    type: string
                  thumbnailUrl:
                    type: string
                  id:
                    type: string
                  identifier:
                    type: string
              sameAs:
                type: string
              url:
                type: string
              additionalType:
                type: string
              links:
                type: array
                items:
                  type: object
                  properties:
                    url:
                      type: string
                    isRecommendation:
                      type: boolean
                    type:
                      type: string
                    title:
                      type: string
                    name:
                      type: string
              labels:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    identifier:
                      type: string
              name:
                type: string
        telephone:
          type: string
        touristType:
          type: string
        additionalProperty:
          type: array
          items:
            type: object
            properties:
              maxValue:
                type: number
                format: double
              minValue:
                type: number
                format: double
              unitCode:
                type: string
              unitText:
                type: string
              value:
                type: object
              propertyId:
                type: string
              valueType:
                type: string
              alternateName:
                type: string
              description:
                type: string
              disambiguatingDescription:
                type: string
              image:
                type: object
                properties:
                  caption:
                    type: string
                  dataGovernance:
                    type: object
                    properties:
                      supplier:
                        type: object
                        properties:
                          acronym:
                            type: string
                          identifier:
                            type: string
                      term:
                        type: object
                        properties:
                          code:
                            type: string
                          name:
                            type: string
                      source:
                        type: object
                        properties:
                          partner:
                            type: object
                            properties:
                              acronym:
                                type: string
                              identifier:
                                type: string
                          name:
                            type: string
                          logo:
                            type: object
                            properties:
                              caption:
                                type: string
                              contentUrl:
                                type: string
                              thumbnailUrl:
                                type: string
                              id:
                                type: string
                              identifier:
                                type: string
                          link:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                isRecommendation:
                                  type: boolean
                                type:
                                  type: string
                                title:
                                  type: string
                                name:
                                  type: string
                      author:
                        type: string
                  contentUrl:
                    type: string
                  thumbnailUrl:
                    type: string
                  id:
                    type: string
                  identifier:
                    type: string
              sameAs:
                type: string
              url:
                type: string
              additionalType:
                type: string
              links:
                type: array
                items:
                  type: object
                  properties:
                    url:
                      type: string
                    isRecommendation:
                      type: boolean
                    type:
                      type: string
                    title:
                      type: string
                    name:
                      type: string
              labels:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    identifier:
                      type: string
              name:
                type: string
        geoShape:
          type: object
          properties:
            address:
              type: object
              properties:
                addressCountry:
                  type: string
                addressLocality:
                  type: string
                addressRegion:
                  type: string
                postalCode:
                  type: string
                postOfficeBoxNumber:
                  type: string
                streetAddress:
                  type: string
                addressLine:
                  type: string
                availableLanguage:
                  type: array
                  items:
                    type: string
                contactType:
                  type: string
                email:
                  type: string
                faxNumber:
                  type: string
                telephone:
                  type: string
                source:
                  type: object
                  properties:
                    acronym:
                      type: string
                    identifier:
                      type: string
                hoursAvailable:
                  type: array
                  items:
                    type: object
                    properties:
                      opens:
                        type: string
                        format: date-time
                      validFrom:
                        type: string
                        format: date-time
                      dayOfWeek:
                        type: string
                      validThrough:
                        type: string
                        format: date-time
                      closes:
                        type: string
                        format: date-time
                      alternateName:
                        type: string
                      description:
                        type: string
                      disambiguatingDescription:
                        type: string
                      image:
                        type: object
                        properties:
                          caption:
                            type: string
                          dataGovernance:
                            type: object
                            properties:
                              supplier:
                                type: object
                                properties:
                                  acronym:
                                    type: string
                                  identifier:
                                    type: string
                              term:
                                type: object
                                properties:
                                  code:
                                    type: string
                                  name:
                                    type: string
                              source:
                                type: object
                                properties:
                                  partner:
                                    type: object
                                    properties:
                                      acronym:
                                        type: string
                                      identifier:
                                        type: string
                                  name:
                                    type: string
                                  logo:
                                    type: object
                                    properties:
                                      caption:
                                        type: string
                                      contentUrl:
                                        type: string
                                      thumbnailUrl:
                                        type: string
                                      id:
                                        type: string
                                      identifier:
                                        type: string
                                  link:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        url:
                                          type: string
                                        isRecommendation:
                                          type: boolean
                                        type:
                                          type: string
                                        title:
                                          type: string
                                        name:
                                          type: string
                              author:
                                type: string
                          contentUrl:
                            type: string
                          thumbnailUrl:
                            type: string
                          id:
                            type: string
                          identifier:
                            type: string
                      sameAs:
                        type: string
                      url:
                        type: string
                      additionalType:
                        type: string
                      links:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                            isRecommendation:
                              type: boolean
                            type:
                              type: string
                            title:
                              type: string
                            name:
                              type: string
                      labels:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            identifier:
                              type: string
                      name:
                        type: string
                alternateName:
                  type: string
                description:
                  type: string
                disambiguatingDescription:
                  type: string
                image:
                  type: object
                  properties:
                    caption:
                      type: string
                    dataGovernance:
                      type: object
                      properties:
                        supplier:
                          type: object
                          properties:
                            acronym:
                              type: string
                            identifier:
                              type: string
                        term:
                          type: object
                          properties:
                            code:
                              type: string
                            name:
                              type: string
                        source:
                          type: object
                          properties:
                            partner:
                              type: object
                              properties:
                                acronym:
                                  type: string
                                identifier:
                                  type: string
                            name:
                              type: string
                            logo:
                              type: object
                              properties:
                                caption:
                                  type: string
                                contentUrl:
                                  type: string
                                thumbnailUrl:
                                  type: string
                                id:
                                  type: string
                                identifier:
                                  type: string
                            link:
                              type: array
                              items:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  isRecommendation:
                                    type: boolean
                                  type:
                                    type: string
                                  title:
                                    type: string
                                  name:
                                    type: string
                        author:
                          type: string
                    contentUrl:
                      type: string
                    thumbnailUrl:
                      type: string
                    id:
                      type: string
                    identifier:
                      type: string
                sameAs:
                  type: string
                url:
                  type: string
                additionalType:
                  type: string
                links:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                      isRecommendation:
                        type: boolean
                      type:
                        type: string
                      title:
                        type: string
                      name:
                        type: string
                labels:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      identifier:
                        type: string
                name:
                  type: string
            addressCountry:
              type: string
            elevation:
              type: number
              format: double
            postalCode:
              type: string
            box:
              type: string
            circle:
              type: string
            line:
              type: string
            polygon:
              type: string
            alternateName:
              type: string
            description:
              type: string
            disambiguatingDescription:
              type: string
            image:
              type: object
              properties:
                caption:
                  type: string
                dataGovernance:
                  type: object
                  properties:
                    supplier:
                      type: object
                      properties:
                        acronym:
                          type: string
                        identifier:
                          type: string
                    term:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                    source:
                      type: object
                      properties:
                        partner:
                          type: object
                          properties:
                            acronym:
                              type: string
                            identifier:
                              type: string
                        name:
                          type: string
                        logo:
                          type: object
                          properties:
                            caption:
                              type: string
                            contentUrl:
                              type: string
                            thumbnailUrl:
                              type: string
                            id:
                              type: string
                            identifier:
                              type: string
                        link:
                          type: array
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                              isRecommendation:
                                type: boolean
                              type:
                                type: string
                              title:
                                type: string
                              name:
                                type: string
                    author:
                      type: string
                contentUrl:
                  type: string
                thumbnailUrl:
                  type: string
                id:
                  type: string
                identifier:
                  type: string
            sameAs:
              type: string
            url:
              type: string
            additionalType:
              type: string
            links:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                  isRecommendation:
                    type: boolean
                  type:
                    type: string
                  title:
                    type: string
                  name:
                    type: string
            labels:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  identifier:
                    type: string
            name:
              type: string
        cc:
          type: string
        located:
          type: array
          items:
            type: string
        copyright:
          type: string
        detailedInformation:
          type: array
          items:
            type: string
        titleTeaser:
          type: string
        textTeaser:
          type: string
        publicTransport:
          type: string
        gettingThere:
          type: string
        parking:
          type: string
        directions:
          type: string
        fees:
          type: string
        zurichcard:
          type: string
        zurichcardDescription:
          type: string
        osm_id:
          type: string
        aggregateRating:
          type: object
          properties:
            ratingCount:
              type: integer
              format: int32
        type:
          type: string
        openingHours:
          type: string
        category:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              identifier:
                type: string
        containedInPlace:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              identifier:
                type: string
        '@id':
          type: string
        identifier:
          type: string
        datasource:
          type: string
        dataGovernance:
          type: object
          properties:
            supplier:
              type: object
              properties:
                acronym:
                  type: string
                identifier:
                  type: string
            term:
              type: object
              properties:
                code:
                  type: string
                name:
                  type: string
            source:
              type: object
              properties:
                partner:
                  type: object
                  properties:
                    acronym:
                      type: string
                    identifier:
                      type: string
                name:
                  type: string
                logo:
                  type: object
                  properties:
                    caption:
                      type: string
                    contentUrl:
                      type: string
                    thumbnailUrl:
                      type: string
                    id:
                      type: string
                    identifier:
                      type: string
                link:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                      isRecommendation:
                        type: boolean
                      type:
                        type: string
                      title:
                        type: string
                      name:
                        type: string
            author:
              type: string
        alternateName:
          type: string
        description:
          type: string
        disambiguatingDescription:
          type: string
        image:
          type: object
          properties:
            caption:
              type: string
            dataGovernance:
              type: object
              properties:
                supplier:
                  type: object
                  properties:
                    acronym:
                      type: string
                    identifier:
                      type: string
                term:
                  type: object
                  properties:
                    code:
                      type: string
                    name:
                      type: string
                source:
                  type: object
                  properties:
                    partner:
                      type: object
                      properties:
                        acronym:
                          type: string
                        identifier:
                          type: string
                    name:
                      type: string
                    logo:
                      type: object
                      properties:
                        caption:
                          type: string
                        contentUrl:
                          type: string
                        thumbnailUrl:
                          type: string
                        id:
                          type: string
                        identifier:
                          type: string
                    link:
                      type: array
                      items:
                        type: object
                        properties:
                          url:
                            type: string
                          isRecommendation:
                            type: boolean
                          type:
                            type: string
                          title:
                            type: string
                          name:
                            type: string
                author:
                  type: string
            contentUrl:
              type: string
            thumbnailUrl:
              type: string
            id:
              type: string
            identifier:
              type: string
        sameAs:
          type: string
        url:
          type: string
        additionalType:
          type: string
        links:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              isRecommendation:
                type: boolean
              type:
                type: string
              title:
                type: string
              name:
                type: string
        labels:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              identifier:
                type: string
        name:
          type: string
    AdministrativeAreasResponse:
      type: object
      properties:
        hasNextPage:
          type: boolean
        nextPageToken:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/AdministrativeArea'
    Category:
      type: object
      properties:
        isWinter:
          type: boolean
        parent:
          type: object
          properties:
            id:
              type: string
            identifier:
              type: string
        icons:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              url:
                type: string
        type:
          type: string
        '@id':
          type: string
        identifier:
          type: string
        datasource:
          type: string
        dataGovernance:
          type: object
          properties:
            supplier:
              type: object
              properties:
                acronym:
                  type: string
                identifier:
                  type: string
            term:
              type: object
              properties:
                code:
                  type: string
                name:
                  type: string
            source:
              type: object
              properties:
                partner:
                  type: object
                  properties:
                    acronym:
                      type: string
                    identifier:
                      type: string
                name:
                  type: string
                logo:
                  type: object
                  properties:
                    caption:
                      type: string
                    contentUrl:
                      type: string
                    thumbnailUrl:
                      type: string
                    id:
                      type: string
                    identifier:
                      type: string
                link:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                      isRecommendation:
                        type: boolean
                      type:
                        type: string
                      title:
                        type: string
                      name:
                        type: string
            author:
              type: string
        name:
          type: string
    CategoriesResponse:
      type: object
      properties:
        hasNextPage:
          type: boolean
        nextPageToken:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Category'
    CivicStructure:
      type: object
      properties:
        openingDays:
          type: string
        availableLanguage:
          type: array
          items:
            type: string
        address:
          type: object
          properties:
            addressCountry:
              type: string
            addressLocality:
              type: string
            addressRegion:
              type: string
            postalCode:
              type: string
            postOfficeBoxNumber:
              type: string
            streetAddress:
              type: string
            addressLine:
              type: string
            availableLanguage:
              type: array
              items:
                type: string
            contactType:
              type: string
            email:
              type: string
            faxNumber:
              type: string
            telephone:
              type: string
            source:
              type: object
              properties:
                acronym:
                  type: string
                identifier:
                  type: string
            hoursAvailable:
              type: array
              items:
                type: object
                properties:
                  opens:
                    type: string
                    format: date-time
                  validFrom:
                    type: string
                    format: date-time
                  dayOfWeek:
                    type: string
                  validThrough:
                    type: string
                    format: date-time
                  closes:
                    type: string
                    format: date-time
                  alternateName:
                    type: string
                  description:
                    type: string
                  disambiguatingDescription:
                    type: string
                  image:
                    type: object
                    properties:
                      caption:
                        type: string
                      dataGovernance:
                        type: object
                        properties:
                          supplier:
                            type: object
                            properties:
                              acronym:
                                type: string
                              identifier:
                                type: string
                          term:
                            type: object
                            properties:
                              code:
                                type: string
                              name:
                                type: string
                          source:
                            type: object
                            properties:
                              partner:
                                type: object
                                properties:
                                  acronym:
                                    type: string
                                  identifier:
                                    type: string
                              name:
                                type: string
                              logo:
                                type: object
                                properties:
                                  caption:
                                    type: string
                                  contentUrl:
                                    type: string
                                  thumbnailUrl:
                                    type: string
                                  id:
                                    type: string
                                  identifier:
                                    type: string
                              link:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    url:
                                      type: string
                                    isRecommendation:
                                      type: boolean
                                    type:
                                      type: string
                                    title:
                                      type: string
                                    name:
                                      type: string
                          author:
                            type: string
                      contentUrl:
                        type: string
                      thumbnailUrl:
                        type: string
                      id:
                        type: string
                      identifier:
                        type: string
                  sameAs:
                    type: string
                  url:
                    type: string
                  additionalType:
                    type: string
                  links:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                        isRecommendation:
                          type: boolean
                        type:
                          type: string
                        title:
                          type: string
                        name:
                          type: string
                  labels:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        identifier:
                          type: string
                  name:
                    type: string
            alternateName:
              type: string
            description:
              type: string
            disambiguatingDescription:
              type: string
            image:
              type: object
              properties:
                caption:
                  type: string
                dataGovernance:
                  type: object
                  properties:
                    supplier:
                      type: object
                      properties:
                        acronym:
                          type: string
                        identifier:
                          type: string
                    term:
[...]
